# Ports
ZOOKEEPER_PORT=2182
KAFKA_PORT=9093
POSTGRES_PORT=5433
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

# PostgreSQL Credentials
POSTGRES_DB=frauddb
POSTGRES_USER=frauduser
POSTGRES_PASSWORD=fraudpass

# Grafana Admin Password
GRAFANA_PASSWORD=fraudadmin
